mixin postPreview(postData)
  if postData
    -
      let postImage
      try {
        postImage = `https://${process.env.WP_DOMAIN}/wp-content/uploads/${postData.wp_image.large.src}` || ''
      } catch (err) {
        console.error(err)
      }
    a(class="bg-preview" href=`/${postData.wp_slug}`)
      if postImage
        figure(class="bg-preview-image" style=`background-image: url(${postImage})`)
      article(class="bg-preview-text")
        p(class="bg-preview-category")
          | #{postData.wp_category.name}
        h2(class="bg-preview-title")
          | #{postData.wp_title.rendered}
