extend layout

block content
  div(class="bg-post post")
    -
      let postImage
      try {
        postImage = `https://${process.env.WP_DOMAIN}/wp-content/uploads/${postData.wp_image.large.src}` || ''
      } catch (err) {
        console.error(err)
      }
    figure(class="bg-post-image" style=`background-image: url(${postImage})`)
    article(class="bg-post-text")
      h1(class="bg-post-title")
        | #{postData.wp_title.rendered}
      div(class="bg-post-content post-content")
        | !{postData.wp_content.rendered}
