extend layout

block content
  div(class="bg-post post")
    figure(class="bg-post-image" style=`background-image: url(${postData.post_image})`)
    article(class="bg-post-text")
      h1(class="bg-post-title")
        | #{postData.post_title}
      div(class="bg-post-byline")
        span(class="bg-post-author")
          | Av #{postData.post_author}
        time(class="bg-post-date")
          | Publisert #{postData.post_date}
      div(class="bg-post-content post-content")
        | !{postData.post_content}
      div(class="bg-post-history post-history")
        +postPreview(postData.next_post)
        +postPreview(postData.previous_post)
    div(class="bg-post-comments" id="disqus_thread")
      script.
        var disqus_config = function () {
          this.page.url = 'https://www.blaugrana.no/#{postData.post_slug}';
          this.page.identifier = #{postData.post_id};
          this.page.title = '#{postData.post_title}';
        };

        !function() {
          var d = document;
          var s = d.createElement('script');

          s.src = '//blaugranano.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());

          (d.head || d.body).appendChild(s);
        }();
